body {
background-color: #1d1d1d;
zoom: 50%;
}

.back {
position: absolute;
width: 2674px;
height: 5114px;
left: 0px;
top: 0px;
}

.subf {
position: absolute;
width: 867px;
height: 49px;
left: 128px;
top: 630px;

font-family: 'Calibri';
font-style: italic;
font-weight: 400;
font-size: 40px;
line-height: 49px;
/* identical to box height */

text-transform: capitalize;

color: rgba(255, 255, 255, 0.5);

}

.big {
position: absolute;
width: 1734px;
height: 3461.37px;
left: 128px;
top: 958px;
background-image: url("big.png");
}

.black {
    transition: all .2s;
}

.goup {
position: fixed;
width: 151.38px;
height: 151.38px;
right: 100px;
bottom: 200px;
opacity: 0;
transition: all .5s;
}

.contact {
position: absolute;
width: 729px;
height: 217px;
left: 128px;
top: 4587px;

}

.first {
position: absolute;
width: 1424px;
height: 230px;
left: 128px;
top: 308px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 200px;
line-height: 230px;
/* identical to box height */

text-transform: capitalize;

color: #FFFFFF;
}