body {
	background-color: #2e2e2e;
}

html {
	scroll-behavior: smooth;
}

.card {
	box-shadow: 0 0 20px black;
	position: absolute;
	width: 400px;
	height: 200px;
	padding: 10px 20px 10px 20px; 
	background-color: white;
	top: calc(50% - 280px/2);
	left: calc(50% - 420px/2);
	border-radius: 10px;
}

div .Image {
	font-family: monospace;
	text-align: center;
	margin-top: 20px;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.card .title{
	margin-left: 20px;
	color: black;
	font-family: Arial;
	font-size: 30;
}

.card .content{
	text-align: center;
	margin: 25px 20px 0 20px;
	color: #2e2e2e;
	font-family: monospace;
	font-size: 15px;
}

.card .buttongroup {
	text-align: center;
	height: 40px;
	position: absolute;
	bottom: 10;
	left: 0;
	right: 0;
}

.card .button {
	border-radius: 50px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	border: 2px solid #2e2e2e;
	color: black;
	font-size: 15px;
	padding: 10px 15px 10px 15px;
	font-family: Arial;
	transition: all .2s;
	font-weight: 600;
}

.card .button:hover {
	transition: all .2s;
	background-color: #2e2e2e;
	color: white;
}
